
.images-services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagen:nth-child(1){
    width: 100%;
    height: 850px;
    margin-top: -10% ;
    
}
.imagen:nth-child(2){
    margin-top: 1%;
    width:324px;
    height: 238px;
    border-radius: 4px;

}
.imagen:nth-child(3){
    margin-top: 1%;
    width:324px;
    height: 238px;
    border-radius: 4px;

}
.imagen:nth-child(4){
    margin-top: 1%;
    width:324px;
    height: 238px;
    border-radius: 4px;
}
.imagen:nth-child(5){
    margin-top: 1%;
    width:324px;
    height: 238px;
    border-radius: 4px;

}


.title-service{
    width: 40%;
    display: flex;
    flex-direction: column;
    color:#FEFEFE;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.disponibility{
    display: none;
}


.details-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.reservas{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 4%;
    width: 90%;
}



.description-block{
    width: 50%;
    margin-top: 4%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 4%;
}
.description-block div{
    margin-bottom: 20px;
}
.reserva-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


@media (max-width: 1110px) {

    .details-block{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .description-block{
        width: 70%;
    }
    .reserva-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}

@media (max-width: 840px) {

    .title-service{
        width: 60%;
    }
    .imagen:nth-child(1){
        width: 100%;
        height: 700px;
    }
    .description-block{
        width: 75%;
    }

}



@media (max-width: 648px) {

    .imagen:nth-child(4){
     display: none;
    }
    .imagen:nth-child(5){
        display: none;
    }
    .imagen:nth-child(2){
   
        width: 90%;
        height: 238px;

    
    }
    .imagen:nth-child(3){
        width: 90%;
        height: 238px;
    }
    .description-block{
        width: 80%;
    }
}



@media (max-width: 420px) {

    .title-service{
        width: 100%;
        
    }
    .description-block{
        width: 100%;
    }
}